/Tuto_Image_CIFAR10/data/cifar-10-batches-py/batches.meta
/Tuto_Image_CIFAR10/data/cifar-10-batches-py/data_batch_1
/Tuto_Image_CIFAR10/data/cifar-10-batches-py/data_batch_2
/Tuto_Image_CIFAR10/data/cifar-10-batches-py/data_batch_3
/Tuto_Image_CIFAR10/data/cifar-10-batches-py/data_batch_4
/Tuto_Image_CIFAR10/data/cifar-10-batches-py/data_batch_5
/Tuto_Image_CIFAR10/data/cifar-10-batches-py/readme.html
/Tuto_Image_CIFAR10/data/cifar-10-batches-py/test_batch
/Tuto_Image_CIFAR10/data/cifar-10-python.tar.gz
/Tuto_Digit_Recognizer/Data/sample_submission.csv
/Tuto_Digit_Recognizer/Data/test.csv
/Tuto_Digit_Recognizer/Data/train.csv
/Tuto_Digit_Recognizer/graph.png
/Tuto_Digit_Recognizer/.ipynb_checkpoints/Tuto_Digit_Recognizer-checkpoint.ipynb
/Tuto_Image_CIFAR10/.ipynb_checkpoints/Tuto_Image_CIFAR10-checkpoint.ipynb
