/FirstTuto/data/cifar-10-batches-py/batches.meta
/FirstTuto/data/cifar-10-batches-py/data_batch_1
/FirstTuto/data/cifar-10-batches-py/data_batch_2
/FirstTuto/data/cifar-10-batches-py/data_batch_3
/FirstTuto/data/cifar-10-batches-py/data_batch_4
/FirstTuto/data/cifar-10-batches-py/data_batch_5
/FirstTuto/data/cifar-10-batches-py/readme.html
/FirstTuto/data/cifar-10-batches-py/test_batch
/FirstTuto/data/cifar-10-python.tar.gz
